# deps
node_modules

# builds
dist
build
.turbo
.cache

# env
.env
.env.*.local
.env.test
.env.production
.env.development

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode

# test artifacts
coverage
reports
.nyc_output
.stryker-tmp
