# dependencies
node_modules/

# build
dist/
*.tsbuildinfo

# env
.env
.env.test
.env.*.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# coverage / reports
coverage/
reports/
.stryker-tmp/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tgz
